body {}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

#MessengerContainer {
    height  : 100%;
    width   : 100%;
    overflow: hidden;

    .MessageBlock {
        position     : relative;
        width        : 94%;
        height       : 80px;
        margin-bottom: 10px;
        margin-top   : 10px;
        box-shadow   : 0 1px 5px #d6d6d6;
        left         : 3%;

        .senderPicture {
            position: absolute;
            top     : 20px;
            left    : 10px;
        }

        .senderName {
            position   : absolute;
            top        : 20px;
            left       : 75px;
            color      : #4f6073;
            font-size  : 14px;
            font-weight: bolder;
        }

        .message {
            position : absolute;
            bottom   : 15px;
            left     : 75px;
            color    : #676d73;
            font-size: 12px;
        }

        .senderOnline {
            position : absolute;
            top      : 22px;
            color    : #8a9299;
            font-size: 12px;
        }

        .recieveDate {
            position : absolute;
            top      : 20px;
            right    : 10px;
            color    : #8c8c8c;
            font-size: 12px;
        }

        .unreadCount {
            position        : absolute;
            bottom          : 15px;
            right           : 10px;
            background-color: #375679;
            color           : white;
            border-radius   : 5px;
            width           : 30px;
            height          : 20px;
            text-align      : center;
        }

        .unreadCount.hidden {
            display: none;
        }
    }

    .MessageBlock:hover {
        background-color: #dfe6eb;
    }

    .seperator {
        position   : absolute;
        left       : 25px;
        line-height: 30px;
        color      : #8a9299;
        font-style : italic;
        font-size  : 12px;
    }
}
